body {
  background-color: $whiteColor;
  color: $primaryColor;
  font-family: $primaryfont;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

a {
  text-decoration: none;
}

.rectangle2 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 30.96px;
  top: 10px;
  // background: #ffffff;
  border-radius: 72px 0px 0px 0px;
}

.rectangle57 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 30.96px;
  top: 704px;
  background-image: url('/images/index/3D.jpg');
  background-position: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 72px;
}

.rectangle38 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 290.12px;
  top: 7px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px 0px 72px;
  transform: rotate(180deg);
}

.rectangle38__grop9 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 991.43px;
  top: 7px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px 0px 72px;
}

.rectangle45 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 1107.16px;
  top: 151px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
}
.rectangle12 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142.44px;
  height: 144px;
  left: 173.4px;
  top: 583px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
}

.rectangle65 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 30.96px;
  top: 2083px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}

.rectangle5 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 30.96px;
  top: 439px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}

.rectangle67 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 1249.6px;
  top: 2650px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}

.rectangle60 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 1249.6px;
  top: 439px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}

.rectangle68 {
  position: absolute;
  width: 144px;
  height: 142.44px;
  left: 1249.6px;
  top: 2011px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
  transform: rotate(90deg);
}

.rectangle19 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 30.96px;
  top: 1264px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}

.rectangle66 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 1107.16px;
  top: 2794px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}

.rectangle48 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 1107.16px;
  top: 583px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}

.rectangle58 {
  position: absolute;
  width: 142.44px;
  height: 124px;
  left: 1249.6px;
  top: 727px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 72px 0px 0px;
  transform: rotate(180deg);
}

.rectangle59 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 173.4px;
  top: 146px;
  background-image: url('/images/index/galery.jpg');
  border-radius: 72px;
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.rectangle63 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 1344.56px;
  top: 1142px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}

.rectangle69 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: -64px;
  top: 2592px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}

.rectangle46 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 1107.16px;
  top: 295px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}

.rectangle64 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 173.4px;
  top: 1939px;

  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 72px 0px 0px;
}

.rectangle10 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 173.4px;
  top: 295px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 72px 0px 0px;
}

.rectangle61 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 1249.6px;
  top: 998px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
  transform: rotate(-180deg);
}

.rectangle51 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 1249.6px;
  top: 151px;
  background-image: url('/images/index/main.jpg');
  border-radius: 0px 0px 72px 0px;
}

.rectangle62 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 30.96px;
  top: 848px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
}

.rectangle3 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 30.96px;
  top: 151px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
}

.rectangle54 {
  position: absolute;
  width: 142.44px;
  height: 144px;
  left: 1249.6px;
  top: 583px;
  background-image: url('/images/index/galery_1.jpg');
  border-radius: 72px 72px 0px 0px;
}

.rectangle55 {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 1264px;
  top: 1508px;
  background-image: url('/images/index/tank.jpg');
  border-radius: 72px;
}
