@font-face {
  font-family: 'cera-pro';
  src: url(../fonts/CeraPro-Regular.woff2), url(../fonts/CeraPro-Regular.woff);

}

@font-face {
  font-family: 'calivar-dreams';
  src: url(../fonts/CaviarDreams.woff2), url(../fonts/CaviarDreams.woff);
  font-weight: 400px;
  font-display: swap;
  font-style: normal;
}
