@font-face {
  font-family: 'cera-pro';
  src: url(../fonts/CeraPro.woff2), url(../fonts/CeraPro.woff);
  font-weight: 400px;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'cera-pro';
  src: url(../fonts/CeraPro-Bold.woff2), url(../fonts/CeraPro-Bold.woff);
  font-weight: 700px;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'calivar-dreams';
  src: url(../fonts/CaviarDreams.woff2), url(../fonts/CaviarDreams.woff);
  font-weight: 400px;
  font-display: swap;
  font-style: normal;
}
