$primaryColor: #2b2b2b;
$titleColor: #487996;
$buttonColor: #f5f5fa;
$iconColor: #008cef;
$accentColor: #333ea7;
$whiteColor: #fff;
$langColor: #bdbdbd;

$primaryfont: 'cera-pro';
$fontNav: 'calivar-dreams';
