<!-- Background -->
<div class="background container">
  <div class="modeling__rectangle68"></div>
  <div class="modeling__rectangle46"></div>
  <div class="modeling__rectangle38"></div>
  <div class="modeling__rectangle38-group9"></div>
  <div class="modeling__rectangle60"></div>
  <div class="modeling__rectangle61"></div>
  <div class="modeling__rectangle3"></div>
  <div class="modeling__rectangle2"></div>
  <div class="modeling__rectangle44"></div>
  <!-- Mobile background -->
  <div class="rectangle63"></div>
  <div class="rectangle19"></div>
  <div class="rectangle68"></div>
  <div class="rectangle67"></div>
  <div class="rectangle12"></div>
  <div class="rectangle65"></div>
  <div class="rectangle38"></div>
  <div class="rectangle38__grop9"></div>
</div>
<!--CONTACTS-->

<section class="page-section contacts-page-section">
  <div class="container contacts-page__contact-container">
    <h3 class="visually-hidden">Контакти</h3>
    <ul class="contact__list list">
      <li class="contact__item">
        <h4 class="contact__info-title">Телефони</h4>
        <p class="contact__tel">+38 (095) -73-84-551</p>
        <p class="contact__tel">+38 (098) -00-25-235</p>
      </li>

      <li class="contact__item contact__email">
        <h4 class="contact__info-title contact__info-title--email">Email</h4>
        <p class="contact__email">3dfreedom.info@gmail.com</p>
      </li>
      <li class="contact__item contact__item--hours">
        <h4 class="contact__info-title">Робочий час</h4>
        <div class="hours-wrapper">
          <p>Пн-пт:</p>
          <span class="contact__hours">З 8:00 до 19:00</span>
        </div>
        <div class="hours-wrapper">
          <p>Сб, Нд:</p>
          <span class="contact__hours">З 10:00 до 17:00</span>
        </div>
      </li>
    </ul>
  </div>
</section>
