<!--CONTACTS-->

<section class="contact__info page-section contacts-page-section">
  <div class="container contacts-page__container contacts-page__contact-container">
    <h3 class="visually-hidden">Контакти</h3>
    <ul class="contact__list list">
      <li class="contact__item">
        <h4 class="contact__info-title">Телефони</h4>
        <p class="contact__tel">+38 (095) -73-84-551</p>
        <p class="contact__tel">+38 (098) -00-25-235</p>
      </li>

      <li class="contact__item contact__email">
        <h4 class="contact__info-title contact__info-title--email">Email</h4>
        <p class="contact__email">3dfreedom.info@gmail.com</p>
      </li>
      <li class="contact__item contact__item--hours">
        <h4 class="contact__info-title">Робочий час</h4>
        <div class="hours-wrapper">
          <p>Пн-пт:</p>
          <span class="contact__hours">З 8:00 до 19:00</span>
        </div>
        <div class="hours-wrapper">
          <p>Сб, Нд:</p>
          <span class="contact__hours">З 10:00 до 17:00</span>
        </div>
      </li>
    </ul>
  </div>
</section>
