<footer class="footer-style">
  <div class="container footer-container">
    <span class="footer-logo"
      ><a href="/index.html"><img src="/images/footer/3DFREEDOM.png" alt="Логотип сайта" /></a>
    </span>
    <nav class="footer-nav">
      <ul>
        <li class="footer-nav__item"><a href="/index.html" class="footer-nav__link">Головна</a></li>
        <li class="footer-nav__item">
          <a href="/modeling.html" class="footer-nav__link">3D Моделювання</a>
        </li>
        <li class="footer-nav__item">
          <a href="/scanning.html" class="footer-nav__link">3D Сканування</a>
        </li>
        <li class="footer-nav__item">
          <a href="/printing.html" class="footer-nav__link">3D Друк</a>
        </li>
        <li class="footer-nav__item">
          <a href="/take-order.html" class="footer-nav__link">Замовити</a>
        </li>
        <li class="footer-nav__item">
          <a href="/contacts-page.html" class="footer-nav__link">Контакти</a>
        </li>
      </ul>
    </nav>
    <div class="footer-social">
      <ul>
        <li class="footer-social__item">
          <a href="https://www.instagram.com" class="footer-social__link">Instagram</a>
        </li>
        <li class="footer-social__item">
          <a href="https://www.youtube.com" class="footer-social__link">YouTube</a>
        </li>
        <li class="footer-social__item">
          <a href="https://facebook.com/" class="footer-social__link">Facebook</a>
        </li>
      </ul>
    </div>
    <address class="footer-address">
      <div class="footer-email">
        <p class="footer-address__title">Email</p>
        <a href="mailto:3dfreedom.info@gmail.com" class="footer-address__link"
          >3dfreedom.info@gmail.com</a
        >
      </div>
      <p class="footer-address__title">Телефони</p>
      <ul>
        <li class="footer-address__item">
          <a href="tel:+380936432288" class="footer-address__link">+38 (093) 643 22 88</a>
        </li>
        <li class="footer-address__item">
          <a href="tel:+380503454423" class="footer-address__link">+38 (050) 345 44 23</a>
        </li>
      </ul>
    </address>
  </div>
</footer>
