<section class="gallery-section">
  <div class="container">
    <h2 class="title">ГАЛЕРЕЯ</h2>
    <ul class="gallery-list">
      <li class="gallery-list__item">
        <a href="">
          <picture class="gallery-list__picture">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/gallery/gallery-1-desktop.jpg    1x,
                ./images/gallery/gallery-1-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-1-tablet.jpg    1x,
                ./images/gallery/gallery-1-tablet@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/gallery-1-mobile.jpg    1x,
                ./images/gallery/gallery-1-mobile@2x.jpg 2x
              "
            />

            <img
              class="gallery-list__image"
              src="./images/gallery/gallery-1-mobile.jpg"
              alt="Зображення"
            />
          </picture>
          <div class="gallery-list__text-wrapper">
            <p class="gallery-list__text">Інженерні методи аналізу та контролю якості</p>
          </div>
        </a>
      </li>
      <li class="gallery-list__item">
        <a href="">
          <picture class="gallery-list__picture">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/gallery/gallery-2-desktop.jpg    1x,
                ./images/gallery/gallery-2-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-2-tablet.jpg    1x,
                ./images/gallery/gallery-2-tablet@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/gallery-2-mobile.jpg    1x,
                ./images/gallery/gallery-2-mobile@2x.jpg 2x
              "
            />

            <img
              class="gallery-list__image"
              src="./images/gallery/gallery-2-mobile.jpg"
              alt="Зображення"
            />
          </picture>
          <div class="gallery-list__text-wrapper">
            <p class="gallery-list__text">Високоточне 3D сканування</p>
          </div>
        </a>
      </li>
      <li class="gallery-list__item">
        <a href="">
          <picture class="gallery-list__picture">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/gallery/gallery-3-desktop.jpg    1x,
                ./images/gallery/gallery-3-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-3-tablet.jpg    1x,
                ./images/gallery/gallery-3-tablet@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/gallery-3-mobile.jpg    1x,
                ./images/gallery/gallery-3-mobile@2x.jpg 2x
              "
            />

            <img
              class="gallery-list__image"
              src="./images/gallery/gallery-3-mobile.jpg"
              alt="Зображення"
            />
          </picture>
          <div class="gallery-list__text-wrapper">
            <p class="gallery-list__text">
              Створення точної копії на базі сканування reverse engineering
            </p>
          </div>
        </a>
      </li>
      <li class="gallery-list__item">
        <a href="">
          <picture class="gallery-list__picture">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/gallery/gallery-4-desktop.jpg    1x,
                ./images/gallery/gallery-4-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/gallery-4-tablet.jpg    1x,
                ./images/gallery/gallery-4-tablet@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/gallery-4-mobile.jpg    1x,
                ./images/gallery/gallery-4-mobile@2x.jpg 2x
              "
            />

            <img
              class="gallery-list__image"
              src="./images/gallery/gallery-4-mobile.jpg"
              alt="Зображення"
            />
          </picture>
          <div class="gallery-list__text-wrapper">
            <p class="gallery-list__text">
              Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
