<section class="take-order__hero">
<h1 class="order-hero__title">Зробити замовлення</h1>
<div class="order-hero__wraper">
    <div class="order-hero__image"></div>
    <div class="order-hero__box">
        <div class="order__description">
            <p class="order__text">На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.</p>
            <p class="order__text">Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі ваші
                запитання.</p>
        </div>
        <div class="order-hero__galary">
            <div class="order-hero__galary-car"></div>
            <div class="order-hero__galary-column"></div>
            <div class="order-hero__galary-lamp"></div>
        </div>
    </div>
</div>
</section>