<!-- Background -->
<div class="background container">
  <div class="modeling__rectangle68"></div>
  <div class="modeling__rectangle46"></div>
  <div class="modeling__rectangle38"></div>
  <div class="modeling__rectangle38-group9"></div>
  <div class="modeling__rectangle60"></div>
  <div class="modeling__rectangle61"></div>
  <div class="modeling__rectangle3"></div>
  <div class="modeling__rectangle2"></div>
  <div class="modeling__rectangle44"></div>
  <!-- Mobile background -->
  <div class="rectangle63"></div>
  <div class="rectangle19"></div>
  <div class="rectangle68"></div>
  <div class="rectangle67"></div>
  <div class="rectangle12"></div>
  <div class="rectangle65"></div>
  <div class="rectangle38"></div>
  <div class="rectangle38__grop9"></div>
</div>
<section class="take-order__hero">
  <h1 class="order-hero__title">Зробити замовлення</h1>
  <div class="order-hero__wraper">
    <div class="order-hero__image"></div>
    <div class="order-hero__box">
      <div class="order__description">
        <p class="order__text">
          На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
        </p>
        <p class="order__text">
          Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі
          ваші запитання.
        </p>
      </div>
      <div class="order-hero__galary">
        <div class="order-hero__galary-car"></div>
        <div class="order-hero__galary-column"></div>
        <div class="order-hero__galary-lamp"></div>
      </div>
    </div>
  </div>
</section>
