<section class="creations__section">
  <div class="container">
    <h3 class="creations__title">Способи створення моделі:</h3>
    <ul class="creations__list">
      <li class="creations__text">3D сканування</li>
      <li class="creations__text">На основі фотографій з доданими розмірами</li>
      <li class="creations__text">За ескізами з розмірами</li>
      <li class="creations__text">За вашим кресленням</li>
      <li class="creations__text">По вже існуючому прототипу шляхом зняття розмірів</li>
    </ul>
  </div>
</section>
