<div class="mobile-menu" data-menu>
  <div class="container-header header__line">
    <div class="logo-header">
      <a class="logo-header__link" href="./index.html"
        ><img
          class="logo-header__image"
          srcset="
            /images/logo-header/logo-header-mobile.png  101w,
            /images/logo-header/logo-header-tablet.png  125w,
            /images/logo-header/logo-header-desktop.png 192w
          "
          sizes="(min-width: 1440px) 192px,
            (min-width: 768px) 125px,
            (min-width: 320px) 101px,
            192px"
          src="/images/logo-header/logo-header-desktop.png"
          alt="Логотип компанії"
      /></a>
    </div>

    <!--======== Close-btn ========== -->

    <button class="burger-btn close-btn" type="button" data-menu-close>
      <svg class="cloce-btn__icon burger-btn__icon" width="25px" height="25px">
        <use href="/images/sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
    <!--======== Tel-btn ========== -->

    <div class="menu-tel">
      <button class="menu-tel-btn" type="button">
        <svg class="tel-btn__icon" width="24px" height="24px">
          <use href="/images/sprite.svg#icon-phone"></use>
        </svg>
      </button>
      <div class="menu-tel-dropdown">
        <ul class="menu-tel-dropdown__list">
          <li class="menu-tel-dropdown__item">
            <a class="menu-tel-dropdown__link" href="tel:+380936432288">+38 (093) 643 22 88</a>
          </li>
          <li class="menu-tel-dropdown__item">
            <a class="menu-tel-dropdown__link" href="tel:+380503454423">+38 (050) 345 44 23</a>
          </li>
        </ul>
      </div>
    </div>

    <!--======== Menu-lang ========== -->

    <div class="menu-lang">
      <button type="button" class="menu-lang-btn">eng</button>

      <div class="menu-lang-dropdown">
        <ul class="menu-lang-dropdown__list">
          <li class="menu-lang-dropdown__item">
            <a class="menu-lang-dropdown__link" href="#">eng</a>
          </li>
          <li class="menu-lang-dropdown__item">
            <a class="menu-lang-dropdown__link" href="#">ukr</a>
          </li>
          <li class="menu-lang-dropdown__item">
            <a class="menu-lang-dropdown__link" href="#">rus</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- ====== Phone-list ====== -->

    <ul class="phone-list list">
      <li class="phone-list__item">
        <a class="phone-list__link" href="tel:+380936432288">
          <svg class="phone-list__svg" width="14px" height="14px">
            <use href="/images/sprite.svg#icon-phone"></use>
          </svg>
          +38 (093) 643 22 88</a
        >
      </li>
      <li class="phone-list__item">
        <a class="phone-list__link" href="tel:+380503454423">
          <svg class="phone-list__svg" width="14px" height="14px">
            <use href="/images/sprite.svg#icon-phone"></use>
          </svg>
          +38 (050) 345 44 23</a
        >
      </li>
    </ul>
  </div>

  <!-- ----------Nav-------- -->

  <div class="container-menu">
    <nav class="backdrop__nav">
      <ul class="backdrop-list">
        <li class="backdrop-list__item">
          <a class="backdrop-list__link backdrop-list__link-style" href="./index.html">Головна</a>
        </li>
        <li class="backdrop-list__item">
          <p class="backdrop-list__text">Послуги</p>
        </li>
        <li class="backdrop-list__item-servises">
          <a class="backdrop-list__link-servises" href="./modeling.html">3D Моделювання</a>
        </li>
        <li class="backdrop-list__item-servises">
          <a class="backdrop-list__link-servises" href="./scanning.html">3D Сканування</a>
        </li>
        <li class="backdrop-list__item-servises">
          <a class="backdrop-list__link-servises" href="./printing.html">3D Друк</a>
        </li>
        <li class="backdrop-list__item">
          <a class="backdrop-list__link" href="./take-order.html">Замовити</a>
        </li>
        <li class="backdrop-list__item">
          <a class="backdrop-list__link" href="./contacts-page.html">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
