<section class="examples">
  <div class="container">
    <h1 class="examples__title">ми створюємо</h1>
    <ul class="examples__list">
      <li class="examples__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              /images/model-examples/desktop/about-3d-desktop.png    1x,
              /images/model-examples/desktop/about-3d-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/model-examples/tablet/about-3d-tablet.png    1x,
              /images/model-examples/tablet/about-3d-tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/model-examples/mobile/about-3d-mobile.png    1x,
              /images/model-examples/mobile/about-3d-mobile@2x.png 2x
            "
          />
          <img
            class="examples__img"
            src="/images/model-examples/desktop/about-3d-desktop.png"
            alt="прототипи"
          />
        </picture>
        <p class="examples__description">прототипи</p>
      </li>
      <li class="examples__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              /images/model-examples/desktop/toulouse-desktop.png    1x,
              /images/model-examples/desktop/toulouse-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/model-examples/tablet/toulouse-tablet.png    1x,
              /images/model-examples/tablet/toulouse-tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/model-examples/mobile/toulouse-mobile.png    1x,
              /images/model-examples/mobile/toulouse-mobile@2x.png 2x
            "
          />
          <img
            class="examples__img"
            src="/images/model-examples/desktop/toulouse-desktop.png"
            alt="макети"
          />
        </picture>
        <p class="examples__description">макети</p>
      </li>
      <li class="examples__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              /images/model-examples/desktop/decor-desktop.png    1x,
              /images/model-examples/desktop/decor-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/model-examples/tablet/decor-tablet.png    1x,
              /images/model-examples/tablet/decor-tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/model-examples/mobile/decor-mobile.png    1x,
              /images/model-examples/mobile/decor-mobile@2x.png 2x
            "
          />
          <img
            class="examples__img"
            src="/images/model-examples/desktop/decor-desktop.png"
            alt="декор"
          />
        </picture>
        <p class="examples__description">декор</p>
      </li>
      <li class="examples__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              /images/model-examples/desktop/3d-coub-desktop.png    1x,
              /images/model-examples/desktop/3d-coub-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/model-examples/tablet/3d-coub-tablet.png    1x,
              /images/model-examples/tablet/3d-coub-tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/model-examples/mobile/3d-coub-mobile.png    1x,
              /images/model-examples/mobile/3d-coub-mobile@2x.png 2x
            "
          />
          <img
            class="examples__img"
            src="/images/model-examples/desktop/3d-coub-desktop.png"
            alt="3d-куб"
          />
        </picture>
        <p class="examples__description">корпоративний дизайн</p>
      </li>
    </ul>
  </div>
</section>
