<section class="examples">
  <div class="container">
    <h1 class="examples__title">ми створюємо</h1>
    <ul class="examples__list">
      <li class="examples__item">
        <picture>
          <source media="(min-width: 1444px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 320px)" srcset="" />
          <img class="examples__img" src="" alt="прототипи" />
        </picture>
        <p class="examples__description">прототипи</p>
      </li>
      <li class="examples__item">
        <picture>
          <source media="(min-width: 1444px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 320px)" srcset="" />
          <img class="examples__img" src="" alt="макети" />
        </picture>
        <p class="examples__description">макети</p>
      </li>
      <li class="examples__item">
        <picture>
          <source media="(min-width: 1444px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 320px)" srcset="" />
          <img class="examples__img" src="" alt="декор" />
        </picture>
        <p class="examples__description">декор</p>
      </li>
      <li class="examples__item">
        <picture>
          <source media="(min-width: 1444px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 320px)" srcset="" />
          <img class="examples__img" src="" alt="3d-куб" />
        </picture>
        <p class="examples__description">корпоративний дизайн</p>
      </li>
    </ul>
  </div>
</section>
