<section class="more-photo">
  <div class="container" data-more-photo>
    <h2 class="more__title">БІЛЬШЕ ФОТО</h2>
    <!-- MOBIL
    ================================== -->
    <ul class="mobil-list">
      <li class="mobil-list__photo">
        <a class="mobil-list__link" href="#">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                /images/more-photo/mobil/mobil-3d-1-x1.webp 1x,
                /images/more-photo/mobil/mobil-3d-1-x2.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /images/more-photo/mobil/mobil-3d-1-x1.jpg 1x,
                /images/more-photo/mobil/mobil-3d-1-x2.jpg 2x
              "
            />
            <img src="/images/more-photo/mobil/mobil-3d-1-x1.jpg" alt="белые фигурки на столе" />
          </picture>
        </a>
      </li>
      <li class="mobil-list__photo">
        <a class="mobil-list__link" href="#"
          ><picture>
            <source
              media="(max-width: 767px)"
              srcset="
                /images/more-photo/mobil/mobil-3d-2-x1.webp 1x,
                /images/more-photo/mobil/mobil-3d-2-x2.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /images/more-photo/mobil/mobil-3d-2-x1.jpg 1x,
                /images/more-photo/mobil/mobil-3d-2-x2.jpg 2x
              "
            />
            <img
              src="/images/more-photo/mobil/mobil-3d-2-x1.jpg"
              alt="3d модель купола"
            /> </picture
        ></a>
      </li>
      <li class="mobil-list__photo">
        <a class="mobil-list__link" href="#"
          ><picture>
            <source
              media="(max-width: 767px)"
              srcset="
                /images/more-photo/mobil/mobil-3d-3-x1.webp 1x,
                /images/more-photo/mobil/mobil-3d-3-x2.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /images/more-photo/mobil/mobil-3d-3-x1.jpg 1x,
                /images/more-photo/mobil/mobil-3d-3-x2.jpg 2x
              "
            />
            <img
              src="/images/more-photo/mobil/mobil-3d-3-x1.jpg"
              alt="3d модель черепа"
            /> </picture
        ></a>
      </li>
    </ul>

    <!-- TABLET and DESCTOP
    ================================== -->
    <ul class="more-photo__list">
      <li class="more-photo__item">
        <a href="#"
          ><picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-1-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-1-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-1-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-1-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-1-1x.webp 1x,
                /images/more-photo/tablet/3d-model-1-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-1-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-1-2x.jpg 2x
              "
            />
            <img
              src="/images/more-photo/tablet/3d-model-1-1x.jpg"
              alt="белые фигурки на столе"
            /> </picture
        ></a>
      </li>
      <li class="more-photo__item">
        <a href="#"
          ><picture
            ><source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-2-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-2-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-2-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-2-2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-2-1x.webp 1x,
                /images/more-photo/tablet/3d-model-2-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-2-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-2-2x.jpg 2x
              " />
            <img
              src="/images/more-photo/tablet/3d-model-2-1x.jpg"
              alt="3d модель купола" /></picture
        ></a>
      </li>
      <li class="more-photo__item">
        <a href="#"
          ><picture
            ><source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-3-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-3-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-3-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-3-2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-3-1x.webp 1x,
                /images/more-photo/tablet/3d-model-3-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-3-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-3-2x.jpg 2x
              " />
            <img
              src="/images/more-photo/tablet/3d-model-3-1x.jpg"
              alt="3d модель маленького робота" /></picture
        ></a>
      </li>
      <li class="more-photo__item">
        <a href="#"
          ><picture
            ><source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-4-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-4-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-4-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-4-2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-4-1x.webp 1x,
                /images/more-photo/tablet/3d-model-4-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-4-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-4-2x.jpg 2x
              " />
            <img
              src="/images/more-photo/tablet/3d-model-4-1x.jpg"
              alt="3d модель черепа" /></picture
        ></a>
      </li>
      <li class="more-photo__item">
        <a href="#"
          ><picture
            ><source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-5-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-5-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-5-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-5-2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-5-1x.webp 1x,
                /images/more-photo/tablet/3d-model-5-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-5-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-5-2x.jpg 2x
              " />
            <img src="/images/more-photo/tablet/3d-model-5-1x.jpg" alt="3d модель танка" /></picture
        ></a>
      </li>
      <li class="more-photo__item">
        <a href="#"
          ><picture
            ><source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-6-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-6-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-6-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-6-2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-6-1x.webp 1x,
                /images/more-photo/tablet/3d-model-6-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-6-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-6-2x.jpg 2x
              " />
            <img
              src="/images/more-photo/tablet/3d-model-6-1x.jpg"
              alt="3d модель настольной лампы" /></picture
        ></a>
      </li>
      <li class="more-photo__item">
        <a href="#"
          ><picture
            ><source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-7-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-7-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-7-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-7-2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-7-1x.webp 1x,
                /images/more-photo/tablet/3d-model-7-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-7-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-7-2x.jpg 2x
              " />
            <img
              src="/images/more-photo/tablet/3d-model-7-1x.jpg"
              alt="3d модель спорткара" /></picture
        ></a>
      </li>
      <li class="more-photo__item">
        <a href="#"
          ><picture
            ><source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-8-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-8-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-8-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-8-2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-8-1x.webp 1x,
                /images/more-photo/tablet/3d-model-8-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-8-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-8-2x.jpg 2x
              " />
            <img
              src="/images/more-photo/tablet/3d-model-8-1x.jpg"
              alt="3d модель архитектура здания" /></picture
        ></a>
      </li>
      <li class="more-photo__item">
        <a href="#"
          ><picture
            ><source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-9-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-9-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-9-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-9-2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-9-1x.webp 1x,
                /images/more-photo/tablet/3d-model-9-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-9-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-9-2x.jpg 2x
              " />
            <img
              src="/images/more-photo/tablet/3d-model-9-1x.jpg"
              alt="3d модель светильник-гриб" /></picture
        ></a>
      </li>
      <li class="more-photo__item">
        <a href="#"
          ><picture
            ><source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-10-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-10-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-10-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-10-2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-10-1x.webp 1x,
                /images/more-photo/tablet/3d-model-10-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-10-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-10-2x.jpg 2x
              " />
            <img
              src="/images/more-photo/tablet/3d-model-10-1x.jpg"
              alt="3d модель зажигалки" /></picture
        ></a>
      </li>
      <li class="more-photo__item">
        <a href="#"
          ><picture
            ><source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-11-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-11-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-11-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-11-2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-11-1x.webp 1x,
                /images/more-photo/tablet/3d-model-11-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-11-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-11-2x.jpg 2x
              " />
            <img
              src="/images/more-photo/tablet/3d-model-11-1x.jpg"
              alt="3d модель кибер-трак" /></picture
        ></a>
      </li>
      <li class="more-photo__item">
        <a href="#">
          <picture
            ><source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-12-1x.webp 1x,
                /images/more-photo/desctop/desctop-3d-model-12-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/more-photo/desctop/desctop-3d-model-12-1x.jpg 1x,
                /images/more-photo/desctop/desctop-3d-model-12-2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-12-1x.webp 1x,
                /images/more-photo/tablet/3d-model-12-2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/more-photo/tablet/3d-model-12-1x.jpg 1x,
                /images/more-photo/tablet/3d-model-12-2x.jpg 2x
              " />
            <img
              src="/images/more-photo/tablet/3d-model-12-1x.jpg"
              alt="3d модель шестиугольная ваза" /></picture
        ></a>
      </li>
    </ul>
    <svg class="more-photo__icon">
      <use href="/images/sprite.svg#icon-group"></use>
    </svg>
  </div>
</section>
