<section class="">
  <div class="container">
    <h2 class="more__title">БІЛЬШЕ ФОТО</h2>
    <ul class="mobil-list">
      <li class="mobil-list__photo">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /images/more-photo/mobil/mobil-3d-1-x1.webp 1x,
              /images/more-photo/mobil/mobil-3d-1-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/more-photo/mobil/mobil-3d-1-x1.jpg 1x,
              /images/more-photo/mobil/mobil-3d-1-x2.jpg 2x
            "
          />
          <img src="/images/more-photo/mobil/mobil-3d-1-x1.jpg" alt="" />
        </picture>
      </li>
      <li class="mobil-list__photo">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /images/more-photo/mobil/mobil-3d-2-x1.webp 1x,
              /images/more-photo/mobil/mobil-3d-2-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/more-photo/mobil/mobil-3d-2-x1.jpg 1x,
              /images/more-photo/mobil/mobil-3d-2-x2.jpg 2x
            "
          />
          <img src="/images/more-photo/mobil/mobil-3d-2-x1.jpg" alt="" />
        </picture>
      </li>
      <li class="mobil-list__photo">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /images/more-photo/mobil/mobil-3d-1-x1.webp 1x,
              /images/more-photo/mobil/mobil-3d-1-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/more-photo/mobil/mobil-3d-1-x1.jpg 1x,
              /images/more-photo/mobil/mobil-3d-1-x2.jpg 2x
            "
          />
          <img src="/images/more-photo/mobil/mobil-3d-1-x1.jpg" alt="" />
        </picture>
      </li>
    </ul>
    <div>
      <svg class="icon-system">
        <use href="/images/system.svg"></use>
      </svg>
    </div>
  </div>
</section>
