<section class="process">
  <div class="container">
    <h2 class="process__title">процес</h2>
    <ul class="process__list">
      <li class="process__item">
        <div class="process__box--left">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                /images/take-order-contacts/desktop/img-printing-desktop.png    1x,
                /images/take-order-contacts/desktop/img-printing-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/take-order-contacts/tablet/img-printing-tablet.png    1x,
                /images/take-order-contacts/tablet/img-printing-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /images/take-order-contacts/mobile/img-printing-mobile.png    1x,
                /images/take-order-contacts/mobile/img-printing-mobile@2x.png 2x
              "
            />
            <img
              class="process__img"
              src="/images/take-order-contacts/desktop/img-printing-desktop.png"
              alt="modeling"
            />
          </picture>
        </div>
        <div class="process__box--right">
          <p class="process__description">
            <span class="process__word">3D-друк</span> - ми використовуємо FDM технологію друку.
            Вона представляє собою пошарове формування об'єкта за допомогою 3D принтера.
          </p>
          <p class="process__description">
            Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні:
            системах автоматизованого проектування.
          </p>
          <p class="process__description last">
            3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві
            і багатьох інших сфер.
          </p>
          <a href="/take-order.html" class="primary-button process-btn" role="button"
            >Зробити замовлення</a
          >
        </div>
      </li>
      <li class="process__item">
        <div class="process__box--left">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                /images/take-order-contacts/desktop/img-modeling-desktop.png    1x,
                /images/take-order-contacts/desktop/img-modeling-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/take-order-contacts/tablet/img-modeling-tablet.png    1x,
                /images/take-order-contacts/tablet/img-modeling-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /images/take-order-contacts/mobile/img-modeling-mobile.png    1x,
                /images/take-order-contacts/mobile/img-modeling-mobile@2x.png 2x
              "
            />
            <img
              src="/images/take-order-contacts/desktop/img-modeling-desktop.png"
              alt="printing"
            />
          </picture>
        </div>
        <div class="process__box--right">
          <div class="process__box--right"></div>

          <p class="process__description">
            <span class="process__word">3D-моделювання</span> - це процес розробки математичного
            уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою спеціалізованого
            програмного забезпечення.
          </p>
          <p class="process__description">
            Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
          </p>
          <p class="process__description last">
            Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить
            ваші потреби.
          </p>
          <a href="/take-order.html" class="primary-button process-btn" role="button"
            >Зробити замовлення</a
          >
        </div>
      </li>
      <li class="process__item">
        <div class="process__box--left">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                /images/take-order-contacts/desktop/img-scanning-desktop.png    1x,
                /images/take-order-contacts/desktop/img-scanning-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/take-order-contacts/tablet/img-scanning-tablet.png    1x,
                /images/take-order-contacts/tablet/img-scanning-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /images/take-order-contacts/mobile/img-scanning-mobile.png    1x,
                /images/take-order-contacts/mobile/img-scanning-mobile@2x.png 2x
              "
            />
            <img
              src="/images/take-order-contacts/desktop/img-scanning-desktop.png"
              alt="scanning"
            />
          </picture>
        </div>
        <div class="process__box--right">
          <p class="process__description">
            <span class="process__word">3D-сканування</span> - зняття даних, шляхом аналізу форми
            предмета і на основі отриманих даних створення її 3D-моделі.
          </p>
          <p class="process__description last">
            Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для
            візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на
            3D-принтері.
          </p>
          <a href="/take-order.html" class="primary-button process-btn" role="button"
            >Зробити замовлення</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
