<section class="scanning">
  <div class="container">
    <h2 class="scanning__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
    <ul class="scanning__processing">
      <li class="scanning__item">
        <h3 class="scanning__list">
          <span>Підготовка</span> <span>деталі</span> <span>до сканування</span>
        </h3>
      </li>
      <li class="scanning__item">
        <h3 class="scanning__list">
          <span>Створення</span> <span> сканів</span> <span>і їх обробка</span>
        </h3>
      </li>
      <li class="scanning__item">
        <h3 class="scanning__list">
          <span>Перетворення</span> <span>reverse</span> <span>engineering</span>
        </h3>
      </li>
      <li class="scanning__item">
        <h3 class="scanning__list">
          <span>Підготовка</span> <span> моделі</span> <span> до друку</span>
        </h3>
      </li>
    </ul>
  </div>

  <div class="button-blok">
    <a href="./take-order.html" class="primary-button">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
  </div>
</section>
