<section class="scanning">
    <div class="container">
        <h2 class="scanning__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
        <ul class="scanning__processing">
            <li class="scanning__item">
                <h3 class="scanning__list">Підготовка деталі до сканування</h3>
            </li>
            <li class="scanning__item">
                <h3 class="scanning__list">Створення сканів і їх обробка</h3>
            </li>
            <li class="scanning__item">
                <h3 class="scanning__list">Перетворення reverse engineering</h3>
            </li>
            <li class="scanning__item">
                <h3 class="scanning__list">Підготовка <br> моделі до друку</h3>
            </li>
        </ul>
    </div>
</section>