<section class="take-order__contacts">
    <div class="order-contacts">
        <div class="order-contacts__phone">
            <p class="order-contacts__title order-phone">Телефони</p>
            <ul class="order-contacts__list">
                <li class="order-contacts__item"> +38 (095) -73-84-551 </li>
                <li class="order-contacts__item order-contacts__number"> +38 (098) -00-25-235 </li>
            </ul>
        </div>
        <div class="order-contacts__email">
            <p class="order-contacts__title">Email</p>
            <ul class="order-contacts__list">
                <li class="order-contacts__item"> 3dfreedom.info@gmail.com </li>
            </ul>
        </div>
        <div class="order-contacts__work-time">
            <p class="order-contacts__title order-time">Робочий час</p>
            <ul class="order-contacts__list order-contacts__list--schedule">
                <li class="order-contacts__item">
                    <p class="order-contacts__day last">Пн-пт:</p>
                    <p class="order-contacts__time">з 8:00 до 19:00</p>
                </li>
                <li class="order-contacts__item">
                    <p class="order-contacts__day ">Сб, Нд:</p>
                    <p class="order-contacts__time order-contacts__time--hours">з 10:00 до 17:00</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="order-contacts__image"></div>
</section>