<section class="take-order">
    <div class="order-contacts">
        
        <ul class="order-contacts__list">
            <p class="order-contacts__title order-phone">Телефони</p>
            <li class="order-contacts__item"> +38 (095) -73-84-551 </li>
            <li class="order-contacts__item"> +38 (098) -00-25-235 </li>
        </ul>
        <ul class="order-contacts__list">
            <p class="order-contacts__title order-mail">Email</p>
            <li class="order-contacts__item"> 3dfreedom.info@gmail.com </li>
        </ul>
        <ul class="order-contacts__list">
            <p class="order-contacts__title order-time">Робочий час</p>
            <li class="order-contacts__item"> Пн-пт: з 8:00 до 19:00 </li>
            <li class="order-contacts__item"> Сб, Нд: з 10:00 до 17:00 </li>
        </ul>
        <div class="order-contacts__image"></div>
    </div>
</section>