.primary-button {
  display: inline-block;
  min-width: 177px;
  padding: 16px 32px;
  background-color: $buttonColor;
  color: $titleColor;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  border-width: 0px;
  border-color: transparent;
  transition: background-color 250ms linear, color 250ms linear;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $titleColor;
    color: $buttonColor;
  }
}

.button-blok {
  text-align: center;
  margin-top: 52px;
  margin-bottom: 76px;

  @media screen and (min-width: 1440px) {
    margin: 100px 0;
  }
}
