.contacts-page-section {
  padding-bottom: 52px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__title {
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.27;
  text-transform: uppercase;

  color: $titleColor;
}

.contact-form__field {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 44px;
  }
}
.contact-form__label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  transition: transform 250ms linear;
}
.contact-form__input {
  width: 100%;
  height: 24px;
  padding: 5px 1px;
  border: unset;
  border-bottom: 1px solid $titleColor;

  font-family: $primaryfont;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;

  color: $primaryColor;
}
.contact-form__input:focus {
  outline: none;
}

.contact-form__input:focus + .contact-form__label,
.contact-form__input:not(:placeholder-shown) + .contact-form__label {
  transform: translateY(-30px);
  font-size: 14px;
}

.contact-form__ms-label {
  font-family: $primaryfont;
  font-weight: 400;
  font-size: 16px;
}

.contact-form__message {
  padding: 22px 20px;
  margin-bottom: 4px;

  width: 100%;
  height: 190px;
  border: 1px solid $titleColor;
  resize: none;

  border-radius: 50px 0px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-family: $primaryfont;
    font-weight: 400;
    font-size: 16px;

    color: #cdcdcd;
  }

  &:focus {
    outline: none;
    border-color: $iconColor;
  }
}

.add-docs__contact-form-wrapper {
  position: relative;
}

.add-docs-contact-form {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.add-docs__contact-img {
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.contact-form__icon {
  display: block;
  width: 22px;
  height: 20px;

  fill: #cdcdcd;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    fill: $iconColor;
  }
}

.contact-form__note {
  margin-bottom: 24px;

  font-family: $primaryfont;
  font-weight: 400;
  font-size: 16px;

  color: #cdcdcd;
}

.contact-form__btn {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .contacts-page-section {
    padding-top: 0;
    padding-bottom: 76px;
  }

  .contact-form {
    margin: 0 auto;
    width: 420px;
  }

  .contact-form__title {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
  }
  .contact-form__note {
    margin-bottom: 44px;
  }
  .contact-form__btn {
    width: 177px;
    align-self: flex-end;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-page-section {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .contacts-page__form-container {
    width: 550px;
    padding-left: 0;
    padding-right: 0;
  }

  .contact-form {
    width: 516px;
  }

  .contact-form__title {
    font-size: 36px;
    margin-bottom: 44px;
  }

  .contact-form__label {
    font-size: 18px;
  }

  .contact-form__ms-label {
    font-size: 18px;
  }

  .contact-form__message {
    width: 100%;
    height: 227px;

    &::placeholder {
      font-size: 18px;
    }
  }

  .contact-form__note {
    font-size: 16px;
  }
}
