.link {
  text-decoration: none;
}

.header__line {
  display: flex;
  align-items: center;
  color: $fontNav;
}
.header__nav {
  display: flex;
  align-items: center;
}
.topmenu-list {
  display: none;
}

// -------- Submenu ----------

.submenu-list {
  display: none;
}

@media screen and (min-width: 1444px) {
  .topmenu-list {
    display: block;
  }

  .services-dropdown__link:hover + .submenu-list,
  .services-dropdown__link:focus + .submenu-list {
    display: block;
    animation: fadeIn;
    animation-duration: 500ms;
  }
  .services-dropdown__item {
    position: relative;
    padding-bottom: 30px;
  }

  .submenu-list {
    position: absolute;

    padding: 8px 0;
    top: 21px;
    left: -40px;
    width: 144px;
  }
}

// ------- Submenu end ---------

.close-btn {
  display: none;
}

.burger-btn,
.close-btn,
.menu-tel-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.menu-tel-dropdown__item:not(:last-child),
.phone-list__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .phone-list {
    display: none;
  }

  .logo-header {
    margin-right: 23px;
  }
  .burger-btn {
    margin-right: 46px;
  }
  .menu-tel-btn {
    margin-right: 21px;
  }
}

// --------------Tel-menu --------

.menu-tel {
  position: relative;
}
.menu-tel-dropdown__link {
  font-family: $primaryfont;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: $primaryColor;
}
.menu-tel-dropdown {
  position: absolute;

  display: none;
  animation: fadeIn;
  animation-duration: 500ms;

  top: 47px;
  left: 10px;
  transform: translate(-50%);
  width: 162px;
  padding: 17px 0;
  border-radius: 4px;
  text-align: center;
  background-color: $whiteColor;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}
.menu-tel-dropdown::before {
  position: absolute;

  content: '';
  display: block;

  left: 44%;
  bottom: 71px;
  width: 25px;
  height: 25px;

  transform: rotate(45deg);
  z-index: -1;
}
// ------------Tel-menu end------

// -------- Lang-menu ----------
.menu-lang-btn,
.menu-lang-dropdown__link {
  font-family: $fontNav;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.01em;

  color: $langColor;
}
.menu-lang-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-lang {
  position: relative;
}

.menu-lang-dropdown {
  position: absolute;

  display: none;
  animation: fadeIn;
  animation-duration: 500ms;

  top: -6px;
  left: 18px;
  transform: translate(-50%);
  width: 60px;
  padding: 6px 10px 10px 10px;
  border-radius: 4px;
  text-align: center;
  background-color: $whiteColor;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

// ----------- Lang-menu end ------------

@media screen and (min-width: 768px) and (max-width: 1443px) {
  .header__line {
    align-items: center;
  }

  .logo-header {
    margin-right: 174px;
  }
  .burger-btn {
    margin-right: 60px;
  }
  .phone-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .menu-tel-btn {
    display: none;
  }
}

.phone-list__link {
  font-family: $fontNav;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: $primaryColor;
}

@media screen and (min-width: 1444px) {
  .header__line {
    display: flex;
    align-items: flex-start;
  }

  .topmenu-list {
    display: flex;
    align-items: flex-start;
  }

  .logo-header {
    margin-right: 213px;
  }
  .topmenu-list {
    margin-right: 109px;
  }

  .phone-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 1444px) {
  .burger-btn,
  .close-btn {
    display: none;
  }
}

@media screen and (min-width: 1444px) {
  .topmenu-list__link {
    font-family: $fontNav;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    letter-spacing: 0.01em;

    color: $primaryColor;
  }
  .topmenu-list__item:not(:last-child) {
    margin-right: 54px;
  }
  .submenu-list {
    text-align: center;
  }

  .submenu-list__link {
    font-family: $fontNav;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: $primaryColor;
  }

  .submenu-list__item:not(:last-child) {
    margin-bottom: 6px;
  }
}
