.modelling__section {
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
  }
  margin-top: 32px;
}
.modelling__title {
  font-weight: bold;
  font-size: 24px;
  color: $titleColor;
  letter-spacing: 0;
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 48px;
  }
}
.modelling__text {
  font-size: 16px;
  line-height: 20px;
  color: $primaryColor;
  letter-spacing: 0;
  font-weight: 300;
  margin-top: 16px;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    margin: 0;
    line-height: 1.27;
    max-width: 515px;
  }
}
.modelling__text-help {
  @media screen and (max-width: 767px) {
    margin-top: 16px;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    margin-left: 43px;
    max-width: 515px;
  }
}
.modelling__box {
  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
  }
}
