.hero-scanning {
  padding-top: 32px;

  padding-bottom: 248px;
  background-image: url(/images/scan-process/hero-scanning/mobile/Scanning_photo1.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(/images/scan-process/hero-scanning/mobile/Scanning_photo1.webp);
  @media screen and(min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(/images/scan-process/hero-scanning/mobile/Scanning_photo@2x.jpg);
    background-image: url(/images/scan-process/hero-scanning/mobile/Scanning_photo@2x.webp);
  }
}
.hero-scanning__pc {
  margin-bottom: 16px;
}
.hero-scanning__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: $titleColor;
  margin-bottom: 16px;
}
.hero-scanning__content {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: $primaryColor;
}
.hero-scanning__content:not(:last-child) {
  margin-bottom: 16px;
}
// tablet-------
@media screen and (min-width: 768px) {
  .hero-scanning {
    padding-top: 44px;
    background-image: url(/images/scan-process/hero-scanning/tablet/Scanning_photo1tablet.jpg);
    background-image: url(/images/scan-process/hero-scanning/tablet/Scanning_photo@1tablet.webp);
    background-position: 97% 89%;
    padding-bottom: 52px;
    padding-bottom: 0%;
    @media screen and(min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/images/scan-process/hero-scanning/tablet/Scanning_photo@2xtablet.jpg);
      background-image: url(/images/scan-process/hero-scanning/tablet/Scanning_photo@2xtablet.webp);
    }
  }
  .hero-scanning__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .hero-scanning__pc {
    margin-bottom: 16px;
  }
  .hero-scanning__content {
    width: 515px;
  }
}

// PC версия ----------
@media screen and (min-width: 1440px) {
  .hero-scanning {
    background-image: url(/images/scan-process/hero-scanning/PC/Scanning_photo1.jpg);
    background-image: url(/images/scan-process/hero-scanning/PC/Scanning_photo1.webp);
    background-position: 80% 86%;
    padding-top: 85px;
    padding-bottom: 100px;
    margin-bottom: 0;
    @media screen and(min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/images/scan-process/hero-scanning/PC/Scanning_photo@2x.jpg);
      background-image: url(/images/scan-process/hero-scanning/PC/Scanning_photo@2x.webp);
    }
  }
  .hero-scanning__title {
    font-size: 48px;
    margin-bottom: 24px;
  }
  .hero-scanning__content {
    font-size: 18px;
  }
  .hero-scanning__content:not(:last-child) {
    margin-bottom: 24px;
  }
  .hero-scanning__pc {
    width: 50%;
  }
  .current {
    display: flex;
  }
  .last-p {
    margin-top: 81px;
  }
}
