.modelling__section {
  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    padding-top: 83px;
    padding-bottom: 100px;
  }
  padding-top: 44px;
}
.modelling__title {
  font-weight: bold;
  font-size: 24px;
  color: $titleColor;
  letter-spacing: 0;
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 48px;
  }
}
.modelling__text {
  font-size: 16px;
  line-height: 20px;
  color: $primaryColor;
  letter-spacing: 0;
  font-weight: 300;
  margin-top: 16px;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    margin: 0;
    line-height: 1.27;
    max-width: 515px;
  }
}
.modelling__text-help {
  @media screen and (max-width: 767px) {
    margin-top: 16px;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    margin-left: 43px;
    max-width: 515px;
  }
}
.modelling__box {
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

// Background
.modeling__rectangle68 {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 1340px;
  top: 1247px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .modeling__rectangle68 {
    width: 73.65px;
    height: 73.65px;
    left: 735.9px;
    top: 1033.01px;
    border-radius: 25px 0px;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 797px) {
  .modeling__rectangle68 {
    display: none;
  }
}

.modeling__rectangle46 {
  position: absolute;
  width: 144px;
  height: 144px;
  left: -64px;
  top: 1077px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .modeling__rectangle46 {
    display: none;
  }
}
@media screen and (max-width: 797px) {
  .modeling__rectangle46 {
    display: none;
  }
}

.modeling__rectangle38 {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 293px;
  top: 7px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px 0px 72px;
  transform: rotate(180deg);
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .modeling__rectangle38 {
    width: 73.65px;
    height: 73.65px;
    left: 233px;
    top: 8px;
    border-radius: 35px 0px 0px 35px;
  }
}
@media screen and (max-width: 797px) {
  .modeling__rectangle38 {
    display: none;
  }
}

.modeling__rectangle38-group9 {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 1003px;
  top: 7px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px 0px 72px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .modeling__rectangle38-group9 {
    width: 73.65px;
    height: 73.65px;
    left: 461px;
    top: 8px;
  }
}
@media screen and (max-width: 797px) {
  .modeling__rectangle38-group9 {
    display: none;
  }
}

.modeling__rectangle60 {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 1319px;
  top: 597px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .modeling__rectangle60 {
    width: 73.65px;
    height: 73.65px;
    left: 686px;
    top: 471px;
    border-radius: 25px 0px;
  }
}

@media screen and (max-width: 797px) {
  .modeling__rectangle60 {
    display: none;
  }
}

.modeling__rectangle61 {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 1283px;
  top: 159px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
  transform: rotate(90deg);
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .modeling__rectangle61 {
    width: 73.65px;
    height: 63.42px;
    left: 686px;
    top: 90px;
    border-radius: 0px 35px 0px 0px;
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 797px) {
  .modeling__rectangle61 {
    display: none;
  }
}

.modeling__rectangle3 {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 13px;
  top: 280px;

  background: #ffffff;
  /* 1 */

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .modeling__rectangle3 {
    width: 73.65px;
    height: 73.65px;
    left: 8px;
    top: 228.96px;
    border-radius: 0px 0px 0px 35px;
    transform: rotate(-90deg);
  }
}
@media screen and (max-width: 797px) {
  .modeling__rectangle3 {
    display: none;
  }
}

.modeling__rectangle2 {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 32px;
  top: 7px;

  background: #ffffff;
  border-radius: 72px 0px 0px 0px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .modeling__rectangle2 {
    width: 73.65px;
    height: 73.65px;
    left: 32.1px;
    top: 8px;

    background: #ffffff;
    border-radius: 35px 0px 0px 0px;
  }
}
@media screen and (max-width: 797px) {
  .modeling__rectangle2 {
    display: none;
  }
}

.modeling__rectangle44 {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 1147px;
  top: 7px;

  background: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .modeling__rectangle44 {
    width: 73.65px;
    height: 73.65px;
    left: 602.4px;
    top: 8px;
  }
}
@media screen and (max-width: 797px) {
  .modeling__rectangle44 {
    display: none;
  }
}
