.creations__section {
  padding-top: 52px;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 50px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 0;
    padding-bottom: 100px;
  }
}
.creations__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.27;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: $titleColor;
  letter-spacing: 0;
  @media screen and (max-width: 767px) {
    max-width: 220px;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  @media screen and(min-width: 1440px) {
    font-size: 36px;
  }
}
.creations__text {
  position: relative;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.27;
    max-width: 515px;
  }
}

.creations__text:not(:last-child) {
  margin-bottom: 16px;
}
.creations__text::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -20px;
  width: 7px;
  height: 7px;
  background-color: #487996;
  border-radius: 3px 0px;
  letter-spacing: 0;
}
.creations__list {
  position: relative;
}
.creations__list::after {
  content: '';
  top: 240px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 1440px) {
    width: 515px;
    height: 301px;
    top: -100px;
    right: 0;
    background-image: url('/images/modelling/desktop/pic.jpg');
  }
  @media not all,
    screen and (min-width: 1440px) and (min-resolution: 192dpi) and (min-width: 1440px) and (min-resolution: 2dppx) {
    width: 515px;
    height: 301px;
    top: -100px;
    right: 0;
    background-image: url('/images/modelling/desktop/pic@2x.jpg');
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    width: 246px;
    height: 144px;
    top: -12px;
    bottom: 30px;
    right: 20px;
    background-image: url('/images/modelling/tablet/pic.jpg');
  }
  @media not all,
    screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
    width: 246px;
    height: 144px;
    bottom: 30px;
    right: 20px;
    background-image: url('/images/modelling/tablet/pic@2x.jpg');
  }
  @media screen and (max-width: 767px) {
    width: 280px;
    height: 164px;
    background-image: url('/images/modelling/mobile/pic.jpg');
  }
  @media not all,
    screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: url('/images/modelling/mobile/pic@2x.jpg');
  }
}
