.examples__list {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-top: -7px;
    margin-left: -7px;
    margin-right: 0;
  }
}

.examples__item {
  display: block;
  position: relative;
  @media screen and (max-width: 767px) {
    height: 160px;
    margin-top: 7px;
    margin-left: 7px;
    flex-basis: calc((100% - 14px) / 2);
  }
  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  @media screen and (min-width: 768px) {
    width: 165px;
    height: 195px;
    &:not(:last-child) {
      margin-right: 13px;
    }
  }
  @media screen and (min-width: 1444px) {
    width: 250px;
    height: 298px;
    &:not(:last-child) {
      margin-right: 21px;
    }
  }
}
.examples__description {
  position: absolute;
  width: 100%;
  padding-top: 120px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.29;
  color: $titleColor;
  @media screen and (min-width: 768px) {
    padding-top: 158px;
  }
  @media screen and (min-width: 1444px) {
    font-size: 18px;
    line-height: 1.28;
    padding-top: 245px;
    padding-left: 50px;
    max-width: 200px;
  }
}
.examples__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $titleColor;
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1444px) {
    font-size: 48px;
  }
}
.examples__img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.examples {
  padding-top: 32px;
  padding-bottom: 52px;
  @media screen and (min-width: 768px) {
    padding-top: 44px;
    padding-bottom: 46px;
  }
  @media screen and (min-width: 1444px) {
    padding-top: 85px;
    padding-bottom: 100px;
  }
}
