.process {
  padding-bottom: 76px;
}

.process__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 16px;
}
.process__word {
  font-weight: bold;
  text-transform: uppercase;
  color: $titleColor;
}
.process__title {
  display: none;
}
.primary-button.process-btn {
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 24px;
}
.process__item:not(:last-child) {
  margin-bottom: 52px;
}

.process__link {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .process__item {
    display: flex;
  }
  .process__box--left {
    margin-right: 20px;
  }
  .process__description {
    margin-top: 0;
    margin-bottom: 16px;
    &.last {
      margin-bottom: 0;
    }
  }
  .process__item:not(:last-child) {
    margin-bottom: 50px;
  }
  .primary-button.process-btn {
    margin: 0;
    margin-top: 52px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1444px) {
  .primary-button.process-btn {
    margin-top: 70px;
  }
  .process__box--left {
    margin-right: 78px;
  }
  .process__description {
    font-size: 18px;
    line-height: 1.28;
  }
}
