.scanning {
  padding-top: 23px;
}
.scanning__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: $titleColor;
  margin-bottom: 16px;
}
.scanning__processing {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.scanning__item {
  display: flex;
  width: 131px;
  height: 180px;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;

  flex-direction: column;
}
.scanning__item:nth-child(-n + 2) {
  margin-bottom: 16px;
}

.scanning__item::before {
  width: 94px;
  height: 81px;
  background-position: center;
  content: '';
  background-size: cover;
}
.scanning__item:nth-child(1)::before {
  background-image: url(/images/scan-process/Scan_process1.svg);
  margin-bottom: 19px;
}
.scanning__item:nth-child(2)::before {
  background-image: url(/images/scan-process/Scan_process2.svg);
  margin-bottom: 15px;
}
.scanning__item:nth-child(3)::before {
  background-image: url(/images/scan-process/Scan_process4.svg);
  margin-bottom: 12px;
}
.scanning__item:nth-child(4)::before {
  background-image: url(/images/scan-process/Scan_process3.svg);
  margin-bottom: 14px;
}
.scanning__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: $titleColor;
  display: flex;
  flex-direction: column;
}

// tablet--------
@media screen and (min-width: 768px) {
  .scanning__title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .scanning__processing > .scanning__item {
    width: 153px;
    height: 210px;
    margin-bottom: 0;
  }
  .scanning__item::before {
    width: 108px;
    height: 94px;
  }
  .scanning__list {
    flex-direction: column;
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .scanning__title {
    font-size: 36px;
    margin-bottom: 52px;
  }

  .scanning__processing > .scanning__item {
    justify-content: flex-end;

    width: 250px;
    height: 298px;
  }
  .scanning__item::before {
    width: 177px;
    height: 154px;
  }
  .scanning__list {
    font-size: 18px;
    margin-bottom: 22px;
    max-width: 161px;
    display: block;
  }
  .scanning__item:nth-child(3) > .scanning__list {
    max-width: 171px;
  }
}
